.main{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(204, 183, 151);

}
.h1{
    font-family: 'Zen Antique Soft', serif;
    font-size: 3em;
    text-shadow: 2px 2px;

}

.h2{
    font-family: 'Zen Antique Soft', serif;
    font-size: 2em;
    text-shadow: 2px 2px;

}


img{
    /* width: 100%;
    height: 100%; */
    max-width:100%;
    resize: both;

}

.header {
    background-color: rgb(189, 110, 79);
    width: 20px;
    height: 20px;
    left: 100px;
    /* position: relative; */
    top: 100px;

    
}

.personal-info{
    /* background-color: rgb(233, 225, 203); */
    resize: both;
    position: relative;
    font-size:5vw;

}


.first-job {
    border-radius: 30px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    /* font-size: 5vw; */
    padding: 20px;
    width: 500px;
    height: 150px;
    background-color: rgb(132, 142, 152);
    margin-left: 5%;
    /* resize: horizontal;
    overflow: auto; */
}

.second-job  {
    border-radius:30px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 500px;
    height: 150px;
    background-color: rgb(132, 142, 152);
    margin-left: 30%;
    /* resize: horizontal; */
    /* overflow: auto; */

}

.third-job{
    border-radius: 30px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 500px;
    height: 150px;
    background-color: rgb(132, 142, 152);
    margin-left: 55%;
    resize: horizontal;
    overflow: auto;
}

.info{
    color: rgb(36, 28, 51);
    top: 10%;
    position: relative;
    resize: both;
    
}

.my-name {

    color:rgb(4, 15, 17);
    display: inline-block;
    background-color: slategrey;
}

* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: rgb(233, 225, 203);
    padding: 10px;
    flex: 40%;
  }
  
  .flex-item-right {
    background-color: rgb(233, 225, 203);
    padding: 10px;
    flex: 60%;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }


.myButton {
	box-shadow:inset 0px 25px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:7px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

        